<!DOCTYPE html>
<html>
<head>
    <title>Look4Games</title>
        <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">    
</head>
<body>    
    <div class="container">
        <br/> 
        <img class="logo" src="img/pacman.jpg">       
        <h1>Merchandise</h1>
        <div class="navigation">        
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="look4Games.html">Look 4 Games!</a></li>
            <li><a href="listOfGames.html">List Of Games 4 U!</a></li>
            <li><a href="merchandise.html">Merchandise</a></li> 
        </ul>
    </div>
        <div class="row1">
            <!-- card 1 -->
            <div class="card">
                <div class="imgbox9"></div>
                <div class="divider"></div>
                <h4>Pacdude Glasses</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.</p>
                <div class="divider"></div>
                <div class="totalprice">
                    <div class="price">
                        <p>€900,00</p>
                    </div>
                    <div class="btw">
                        <p>Prices incl. btw</p>
                    </div>
                </div>
                <div class="buy-button"> <a href="shopping_cart.html">Buy Now</a></div>
            </div>
            <!-- card 2 -->
            <div class="card">
                <div class="imgbox10"></div>
                <div class="divider"></div>
                <h4>Pacdude Cup</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.</p>
                <div class="divider"></div>
                <div class="totalprice">
                    <div class="price">
                        <p>€23,50</p>
                    </div>
                    <div class="btw">
                        <p>Prices incl. btw</p>
                    </div>
                </div>
                <div class="buy-button"> <a href="shopping_cart.html">Buy Now</a></div>
            </div>
            <!-- card 3 -->
            <div class="card">
                <div class="imgbox11"></div>
                <div class="divider"></div>
                <h4>Pacdude T-shirt</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.</p>
                <div class="divider"></div>
                <div class="totalprice">
                    <div class="price">
                        <p>€150,00</p>
                    </div>
                    <div class="btw">
                        <p>Prices incl. btw</p>
                    </div>
                </div>
                <div class="buy-button"> <a href="shopping_cart.html">Buy Now</a></div>
            </div>
            <!-- card 4 -->
            <div class="card">
                <div class="imgbox12"></div>
                <div class="divider"></div>
                <h4>Pacdude Mini-Arcade</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.</p>
                <div class="divider"></div>
                <div class="totalprice">
                    <div class="price">
                        <p>€23,50</p>
                    </div>
                    <div class="btw">
                        <p>Prices incl. btw</p>
                    </div>
                </div>
                <div class="buy-button"> <a href="shopping_cart.html">Buy Now</a></div>
            </div>
        </div>
       
        </div>

    <footer>
        <div id="footer">
           <!--  <div id="footermenu">
                <ul>
                    <li>Contact Us</li>
                </ul>
            </div> -->
          <!--   <br> -->
            <div id="socialicons">
                <ul>
                    <h4>Follow us!</h4>
                    <li><img src="img/social/facebook.png"></li>
                    <li><img src="img/social/instagram.png"></li>
                    <li><img src="img/social/twitter.png"></li>
                    <li><img src="img/social/youtube.png"></li>
                </ul>
            </div>
            <div id="divider"></div>
            <div id="copyrights">©2017 Games 4 U, Inc. All Rights Reserved</div>
        </div>
    </footer>
</body>
</html>