<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">    
</head>
<body>
  <div class="container2"> 
    <br/>
    <img class="logo" src="img/pacman.jpg">  
    <h1>Welcome</h1>   
    <div class="navigation">     
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="look4Games.html">Look 4 Games!</a></li>
            <li><a href="listOfGames.html">List Of Games 4 U!</a></li>
            <li><button id="button">Find Games!</button></li>
        </ul>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>   
    <br/>
    <br/>
    <br/>
    <br/>   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/> 
    
<footer>
    <div id="footer">
        <div id="footermenu">
            <ul>
                <h4>GET HELP</h4>
                <li>Order Status</li>
                <li>Payment Options</li>
                <li>Contact Us</li>
                </ul>
                <ul>
                    <h4>NEWS</h4>
                    <li>About Axel</li>
                    <li>Careers</li>
                    <li>Investors</li>
                </ul>
            </div>
            <div id="socialicons">
                <ul>
                     <br/>
    <br/>
    <br/>
    <br/>
  
                    <h4>SOCIAL</h4>
                    <li><img src="img/social/facebook.png"></li>
                    <li><img src="img/social/instagram.png"></li>
                    <li><img src="img/social/twitter.png"></li>
                    <li><img src="img/social/youtube.png"></li>
                </ul>
            </div>
            <div id="divider"></div>
            <div id="copyrights">© 2017 AXEL, Inc. All Rights Reserved</div>
        </div>
    </footer>
</div>
</body>
</html>