doctype html
html
  head
    title LoggedOut
    link(rel='stylesheet', type='text/css', href='main.css')
    //
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">
  body
    .container3
      br
      img.logo(src='img/pacman.jpg')
      h1 Pacdude
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      a(href='/')
        h1 TRY AGAIN
      br
      br
      br
      br
      br
    footer
      #footer
        #socialicons
          ul
            h4 Follow us!
            li
              a(href="//" +"www.facebook.com")
                img(src='img/social/facebook.png')
            li
              a(href="//" +"www.instagram.com")
                img(src='img/social/instagram.png')
            li
              a(href="//" +"www.twitter.com")
                img(src='img/social/twitter.png')
            li
              a(href="//" +"www.youtube.com")
                img(src='img/social/youtube.png')
      #divider
      #copyrights ©2017 Pacdude, Inc. All Rights Reserved