doctype html
html
  head
    title LoggedOut
    link(rel='stylesheet', type='text/css', href='main.css')
    //
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">
  body
    .container3
      br
      img.logo(src='img/pacman.jpg')
      h1 GAMES 4 U
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      a(href='index.html')
        h1 TRY AGAIN
      br
      br
      br
      br
      br
      footer
        #footer
          #footermenu
            ul
              li Get help
              li Advertisement
              li Contact
              li News
              li About GAMES 4 U
          #socialicons
            ul
              h4 SOCIAL
              li
                img(src='img/social/facebook.png')
              li
                img(src='img/social/instagram.png')
              li
                img(src='img/social/twitter.png')
              li
                img(src='img/social/youtube.png')
          #divider
          #copyrights © 2017 PACDUDE, Inc. All Rights Reserved
