doctype html
html
  head
    title Look4Games
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet')
  body
    .container
      br
      img.logo(src='img/pacman.jpg')
      h1 Look 4 Games
      .navigation
        ul
          li
            a(href='index.html') home
          li
            a(href='look4Games.html') Look 4 Games!
          li
            a(href='listOfGames.html') List Of Games 4 U!
          li
            a(href='merchandise.html') Merchandise
      .row1
        // card 1
        .card
          .imgbox1
          .divider
          h4 PACMAN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €900,00
            .btw
              p Prices incl. btw
          .buy-button Buy Now
        // card 2
        .card
          .imgbox2
          .divider
          h4 MISS PACMAN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €23,50
            .btw
              p Prices incl. btw
          .buy-button Buy Now
        // card 3
        .card
          .imgbox3
          .divider
          h4 FLASHMAN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €150,00
            .btw
              p Prices incl. btw
          .buy-button Buy Now
        // card 4
        .card
          .imgbox4
          .divider
          h4 TAPMAN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €23,50
            .btw
              p Prices incl. btw
          .buy-button Buy Now
      footer
        #footer
          #footermenu
            ul
              h4 GET HELP
              li Order Status
              li Payment Options
              li Contact Us
            ul
              h4 NEWS
              li About Axel
              li Careers
              li Investors
          #socialicons
            ul
              h4 SOCIAL
              li
                img(src='img/social/facebook.png')
              li
                img(src='img/social/instagram.png')
              li
                img(src='img/social/twitter.png')
              li
                img(src='img/social/youtube.png')
          #divider
          #copyrights ©2017 Games 4 U, Inc. All Rights Reserved
