doctype html
html
  head
    title Merchandise
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet')
  body
    .container6
      br
      img.logo(src='img/pacman.jpg')
      h1 Merchandise
      .navigation
        ul
          li
            a(href='/') Home
          li
            a(href='/games') Games
          li
            a(href='#') Merchandise
          li
            a(href='/profile') Profile
          li
            a(href='/shopcart') Shopping Cart
          li
            a(href='/logout') Log Out
      .row1
        // card 1
        .card
          .imgbox9
          .divider
          h4 Pacdude Glasses
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €99,99
            .btw
              p Prices incl. btw
          .buy-button
            a(href='/add-to-cart/' + 1) Buy Now
        // card 2
        .card
          .imgbox10
          .divider
          h4 Pacdude Cup
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €19,99
            .btw
              p Prices incl. btw
          .buy-button
            a(href='/add-to-cart/' + 2) Buy Now
        // card 3
        .card
          .imgbox11
          .divider
          h4 Pacdude T-shirt
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €25,00
            .btw
              p Prices incl. btw
          .buy-button
            a(href='/add-to-cart/' + 3) Buy Now
        // card 4
        .card
          .imgbox12
          .divider
          h4 Pacdude Mini-Arcade
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut arcu erat. Donec in mi bibendum dui ultrices vestibulum non id felis. Pellentesque euismod odio eget neque vestibulum sollicitudin.
          .divider
          .totalprice
            .price
              p €59,99
            .btw
              p Prices incl. btw
          .buy-button
            a(href='/add-to-cart/' + 4) Buy Now
    footer
      #footer
        #socialicons
          ul
            h4 Follow us!
            li
              a(href="//" +"www.facebook.com")
                img(src='img/social/facebook.png')
            li
              a(href="//" +"www.instagram.com")
                img(src='img/social/instagram.png')
            li
              a(href="//" +"www.twitter.com")
                img(src='img/social/twitter.png')
            li
              a(href="//" +"www.youtube.com")
                img(src='img/social/youtube.png')
        #divider
        #copyrights ©2017 Pacdude, Inc. All Rights Reserved
