doctype html
html
	head
		title Welcome
		link(rel='stylesheet', type='text/css', href='main.css')
		link(href='https://fonts.googleapis.com/css?family=Press+Start+2P|Shojumaru|Slackey&amp;subset=cyrillic,cyrillic-ext,greek,latin-ext' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet')
	body
		.container2
			br
			img.logo(src='img/pacman.jpg')
			if user
			h1 Welcome to your profile!
			.navigation
				ul
					li
						a(href='/') Home
					li
						a(href='/games') Games
					li
						a(href='/merchandise') Merchandise
					li
						a(href='#') Profile
					li
						a(href='/shopcart') Shopping Cart
					li
						a(href='/logout') Log Out	
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
		footer
		#footer
			#footermenu
			ul
				h4 GET HELP
				li Order Status
				li Payment Options
				li Contact Us
			ul
				h4 NEWS
				li About Axel
				li Careers
				li Investors
		#socialicons
			ul
			br
			br
			br
			br
			h4 SOCIAL
				li
					img(src='img/social/facebook.png')
				li
					img(src='img/social/instagram.png')
				li
					img(src='img/social/twitter.png')
				li
					img(src='img/social/youtube.png')
		#divider
		#copyrights © 2017 PACDUDE, Inc. All Rights Reserved
