doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script(src='https://www.paypalobjects.com/api/checkout.js')
    title Shopping_Cart
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet')
  body
    .container5
      br
      img.logo(src='img/pacman.jpg')
      h1 Purchase Completed!
      .navigation
        ul
          li
            a(href='/') home
          li
            a(href='/look4Games') Pacdude Games
          li
            a(href='/listOfGames') List Of Games 4 U!
          li
            a(href='/merchandise') Merchandise
      center
        .row1
          // card 1
          .card3
            .imgbox5
            .divider
            h4 Purchase successfully completed!
            p Thanks for your purchase at Pacdude! Your product will be delivered to you within 1-3 days!
            button
              a(href="profile") Return to your profile
    footer
      #footer
        #socialicons
          ul
            h4 Follow us!
            li
              a(href="//" +"www.facebook.com")
                img(src='img/social/facebook.png')
            li
              a(href="//" +"www.instagram.com")
                img(src='img/social/instagram.png')
            li
              a(href="//" +"www.twitter.com")
                img(src='img/social/twitter.png')
            li
              a(href="//" +"www.youtube.com")
                img(src='img/social/youtube.png')
        #divider
        #copyrights ©2017 Pacdude, Inc. All Rights Reserved
