doctype html
html
	head
	body
		if user
			h1 Already a Known User!
		else
			
			form(method='POST' action='/register')
				input(type='text', placeholder='firstname', name='firstname')
				input(type='text', placeholder='lastname', name='lastname')
				input(type='text', placeholder='username', name='username')
				input(type='text', placeholder='email', name='email')
				input(type='password', placeholder='password', name='password')
				input(type='password', placeholder='confirm password', name='password2')
				button.btn(type="submit", name="submit") Register
