doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script(src='https://www.paypalobjects.com/api/checkout.js')
    title Shop Cart
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Press+Start+2P|Shojumaru|Slackey&amp;subset=cyrillic,cyrillic-ext,greek,latin-ext' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet')
  body
    .container4
      br
      img.logo(src='img/pacman.jpg')
      h1 Shop Cart
      .navigation
        ul
          li
            a(href='/') Home
          li
            a(href='/games') Games
          li
            a(href='/merchandise') Merchandise
          li
            a(href='/profile') Profile
          li
            a(href='#') Shopping Cart
          li
            a(href='/logout') Log Out  
      center
        .row1
          // card 1
          .card2
            .imgbox9
            .divider
            h4 Product selected
            p This product is in your shopping cart!
            p
              | 0 X
              .divider
              .totalprice
                .price
                  p Total price: €000,00
                .btw
                  p Prices incl. btw
              #paypal-button-container
                a(href='/shopcart') Buy Now
    footer
      #footer
        #socialicons
          ul
            br
            br
            br
            br
            h4 SOCIAL
            li
              img(src='img/social/facebook.png')
            li
              img(src='img/social/instagram.png')
            li
              img(src='img/social/twitter.png')
            li
              img(src='img/social/youtube.png')
        #divider
        #copyrights © 2017 PACDUDE, Inc. All Rights Reserved
    script.
      paypal.Button.render({
      env: 'sandbox', // sandbox | production
      // PayPal Client IDs - replace with your own
      // Create a PayPal app: https://developer.paypal.com/developer/applications/create
      client: {
      sandbox:    'Afk9_B9Pk1VrH-AM4gxO5KpKB4j2wLjxgmPKGTCJ9kRv0D6HByeVeXhoB2aVidxR9y1Sys_PCb25FZid',
      production: '<insert production client id>'
      },
      // Show the buyer a 'Pay Now' button in the checkout flow
      commit: true,
      // payment() is called when the button is clicked
      payment: function(data, actions) {
      // Make a call to the REST api to create the payment
      return actions.payment.create({
      payment: {
      transactions: [
      {
      amount: { total: '10.00', currency: 'EUR' }
      }
      ]
      }
      });
      },
      // onAuthorize() is called when the buyer approves the payment
      onAuthorize: function(data, actions) {
      // Make a call to the REST api to execute the payment
      return actions.payment.execute().then(function() {
      window.alert('Payment Complete!');
      });
      }
      }, '#paypal-button-container');
