doctype html
html
  head
    title Welcome
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet')
  body
    .container2
      br
      img.logo(src='img/pacman.jpg')
      h1 Welcome
      .navigation
        ul
          li
            a(href='index.html') Home
          li
            a(href='look4Games.html') Look 4 Games!
          li
            a(href='listOfGames.html') List Of Games 4 U!
          li
            button#button Find Games!
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      footer
        #footer
          #footermenu
            ul
              h4 GET HELP
              li Order Status
              li Payment Options
              li Contact Us
            ul
              h4 NEWS
              li About Axel
              li Careers
              li Investors
          #socialicons
            ul
              br
              br
              br
              br
              h4 SOCIAL
              li
                img(src='img/social/facebook.png')
              li
                img(src='img/social/instagram.png')
              li
                img(src='img/social/twitter.png')
              li
                img(src='img/social/youtube.png')
          #divider
          #copyrights © 2017 AXEL, Inc. All Rights Reserved
